html, body { 
	margin: 0; 
	height: 100%; 
}

#map { 
	width: 100%; 
	height: 100%; 
}

#map .infowindow { 
	width: 260px; 
	padding: 5px 0 0; 
	overflow: auto;
}

#map .infowindow h2 { margin: 0 0 10px; }

#map .infowindow h3 { margin: 0; }

#map .infowindow address { 
	font-style: normal; 
	margin: 5px 0 10px; 
}

#map .infowindow address a {
	color: #3a84df;	
}

#map .infowindow .day {
	padding: 10px 0;
	float: left;
	width: 130px;
}

#map .infowindow .day.empty { display: none; }

#map .infowindow .day h4 {
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin: 0 0 5px;
}

#map .infowindow .day .meeting {
	margin-bottom: 5px;
}

@media (min-width: 640px) {
	#map .infowindow { width: 560px;  }
	#map .infowindow .day { width: 80px; }
	#map .infowindow .day.empty { display: block; }
}
